<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>~UnI aDmIn CoRn~</title>
    <link rel="stylesheet" type="text/html" href="/css/style.css">
</head>
<body>
<p>Панель управления администратора</p>
<form method="post" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выход</button>
</form>
<p>Выберите действие:</p>
<table>
    <tr>
        <td><a href="/productAdd">Добавить товар</a></td>
    </tr>
</table>
<div>
    <p>Товары</p>
    <div th:each="products : ${product}" class="cardBox">
        <p th:text="'Наименование товара: ' + ${products.getProductTitle}"></p>
        <p th:text="'Описание товара: ' + ${products.getProductDescription()}"></p>
        <p th:text="'Стоимость товара: ' + ${products.getProductPrice()}"></p>
        <p th:text="'категория: ' + ${products.getCategory().getCategoryName()}"></p>
        <p th:text="'Продавец: ' + ${products.getSeller()}"></p>
        <p th:text="'Склад: ' + ${products.getWarehouse()}"></p>
        <a th:href="@{/products/productEdit/{id}(id=${products.getId()})}">Редактировать</a>
        <a th:href="@{/deleteProduct/{id}(id=${products.getId()})}">Удалить</a>
    </div>
</div>
</body>
</html>