<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>~UnI rEgIsTrAtIoN cOrN~</title>
    <link rel="stylesheet" type="text/html" href="/css/style.css">
</head>
<body>
    <p>Регистрация:</p>
    <form th:method="post" th:action="@{/users/userRegistration}" th:object="${user}">
        <table>
            <tr>
                <td><label for="secondname">Фамилия:</label></td>
                <td><input type="text" th:field="*{secondName}" id="secondname" name="secondname" placeholder="Фамилия"></td>
                <td><p th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}" class="error"></p></td>
            </tr>
            <tr>
                <td><label for="firstname">Имя:</label></td>
                <td><input type="text" th:field="*{firstName}" id="firstname" name="firstname" placeholder="Имя"></td>
                <td><p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></p></td>
            </tr>
            <tr>
                <td><label for="username">Логин:</label></td>
                <td>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="text" th:field="*{userLogin}" id="username" name="username" placeholder="Логин">
                </td>
                <td><p th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}" class="error"></p></td>
            </tr>
            <tr>
                <td><label for="password">Пароль</label></td>
                <td><input type="password" th:field="*{userPassword}" id="password" name="password" placeholder="Пароль"></td>
                <td><p th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" class="error"></p></td>
            </tr>
            <tr>
                <td><button type="submit" value="Подтвердить">Подтвердить</button></td>
                <td></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td><a href="users/userAuthorization">Авторизация</a></td>
        </tr>
        <tr>
            <td><a href="/">Главная страница</a></td>
        </tr>
    </table>
</body>
</html>