<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>~UnI aDmIn CoRn~</title>
    <link rel="stylesheet" type="text/html" href="/css/style.css">
</head>
<body>
<p>Панель управления администратора</p>
<form method="post" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выход</button>
</form>

<p>Редактировать новый товар</p>

<form th:method="post" th:action="@{/products/productEdit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="productTitle">Наименование товара:</label></td>
            <td><input type="text" th:field="*{productTitle}" id="productTitle" name="productTitle" placeholder="Наименование"></td>
            <td><p th:if="${#fields.hasErrors('productTitle')}" th:errors="*{productTitle}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="productDescription">Описание товара:</label></td>
            <td><textarea th:field="*{productDescription}" id="productDescription" name="productDescription" placeholder="Описание"></textarea></td>
            <td><p th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="productPrice">Стоимость товара:</label></td>
            <td><input type="number" th:field="*{productPrice}" id="productPrice" name="productPrice" min="1" step="0.01"></td>
            <td><p th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="category">Категория товара:</label></td>
            <td>
                <select name="category" th:field="*{category}" id="category">
                    <div th:each="element : ${category}">
                        <option th:text="${element.getCategoryName()}" th:value="${element.getId()}"></option>
                    </div>
                </select>
            </td>
            <td><p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="warehouse">Скад:</label></td>
            <td><input type="text" th:field="*{warehouse}" id="warehouse" name="warehouse" placeholder="Склад"></td>
            <td><p th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="seller">Продавец:</label></td>
            <td><input type="text" th:field="*{seller}" id="seller" name="seller" placeholder="Продавец"></td>
            <td><p th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}" class="error"></p></td>
        </tr>
        <tr>
            <td><label for="dateTime">Дата добавления:</label></td>
            <td><input type="text" th:field="*{dateTime}" id="dateTime" name="dateTime" placeholder="Дата"></td>
            <td><p th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}" class="error"></p></td>
        </tr>
        <tr>
            <td><input type="submit" value="Подтвердить"></td>
            <td></td>
        </tr>
    </table>
</form>

</body>
</html>